.presentation > h2 {
    border-radius: 30px;	
	color : #2f435e;
	font-size : 1.8rem;
	font-family : Verdana, Geneva, Tahoma, sans-serif;
	font-weight : bold;
	/*opacity : 0.5;*/
	padding : 10px;
	text-align : center;
	font-style:unset;
	text-decoration:underline;
}

.presentation {
   background-image:url(img/banniere.png);
}